.layout-builder {
  border: 3px solid var(--text-action-high-blue-france);
  background-color: var(--background-alt-grey);
  [href] {
    color: var(--text-action-high-blue-france);
  }
}

.layout-builder__add-section {
  background-color: var(--background-contrast-grey);
  [href] {
    color: var(--text-action-high-blue-france);
  }
}

.layout-builder__link--configure {
  background: none;
}

.layout-builder__add-block {
  background-color: var(--background-contrast-grey);
  [href] {
    color: var(--text-action-high-blue-france);
  }
}

.layout-builder-block {
  background-color: var(--background-contrast-grey);
  [href] {
    color: var(--text-action-high-blue-france);
  }
}

.layout-builder__link--add {
  background: none;
}
.layout-builder__link--add::before {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  content: " ";
  background: var(--text-action-high-blue-france);
  mask-size: 100%;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBkPSJNMTEgMTFWN2gydjRoNHYyaC00djRoLTJ2LTRIN3YtMmg0em0xIDExQzYuNDggMjIgMiAxNy41MiAyIDEyUzYuNDggMiAxMiAyczEwIDQuNDggMTAgMTAtNC40OCAxMC0xMCAxMHptMC0yYzQuNDIgMCA4LTMuNTggOC04cy0zLjU4LTgtOC04LTggMy41OC04IDggMy41OCA4IDggOHoiLz48L3N2Zz4=);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBkPSJNMTEgMTFWN2gydjRoNHYyaC00djRoLTJ2LTRIN3YtMmg0em0xIDExQzYuNDggMjIgMiAxNy41MiAyIDEyUzYuNDggMiAxMiAyczEwIDQuNDggMTAgMTAtNC40OCAxMC0xMCAxMHptMC0yYzQuNDIgMCA4LTMuNTggOC04cy0zLjU4LTgtOC04LTggMy41OC04IDggMy41OCA4IDggOHoiLz48L3N2Zz4=);
  mask-position: left bottom;
  mask-repeat: no-repeat;
}

.layout-builder__link--remove {
  border: none;
  border-radius: 0;
  background: none;
  &:hover {
    background: none;
  }
}
.layout-builder__link--remove::before {
  float: left;
  width: 1.2rem;
  height: 1.2rem;
  content: " ";
  background: var(--text-action-high-blue-france);
  mask-size: 100%;
  mask-position: left bottom;
  mask-repeat: no-repeat;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTcuNSwyLjVMMjMsMTJsLTUuNSw5LjVoLTExTDEsMTJsNS41LTkuNUgxNy41eiBNMTYuMyw0LjVINy43TDMuMywxMmw0LjMsNy41aDguN2w0LjMtNy41TDE2LjMsNC41eiBNMTIsMTAuNmwyLjgtMi44bDEuNCwxLjRMMTMuNCwxMmwyLjgsMi44bC0xLjQsMS40TDEyLDEzLjRsLTIuOCwyLjhsLTEuNC0xLjRsMi44LTIuOEw3LjgsOS4ybDEuNC0xLjRMMTIsMTAuNnoiLz48L3N2Zz4K);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTcuNSwyLjVMMjMsMTJsLTUuNSw5LjVoLTExTDEsMTJsNS41LTkuNUgxNy41eiBNMTYuMyw0LjVINy43TDMuMywxMmw0LjMsNy41aDguN2w0LjMtNy41TDE2LjMsNC41eiBNMTIsMTAuNmwyLjgtMi44bDEuNCwxLjRMMTMuNCwxMmwyLjgsMi44bC0xLjQsMS40TDEyLDEzLjRsLTIuOCwyLjhsLTEuNC0xLjRsMi44LTIuOEw3LjgsOS4ybDEuNC0xLjRMMTIsMTAuNnoiLz48L3N2Zz4K);
}
