parameters:
	ignoreErrors:
		-
			message: '''
				#^Call to deprecated function theme_get_setting\(\)\:
				in drupal\:11\.3\.0 and is removed from drupal\:13\.0\.0\. Use
				  \\Drupal\:\:service\('Drupal\\Core\\Extension\\ThemeSettingsProvider'\)\-\>getSetting\(\)
				  instead\.$#
			'''
			identifier: function.deprecated
			count: 29
			path: localgov_base.theme
